@import "../../../css/mixins";

@mixin menu_list() {
  &-menu_list {
    position: absolute;
    top: 0;
    left: 0;

    height: $main-menu_list-height;

    @include flexColumnNowrap();
    @include flexStart();

    background: $main-menu_list-bgColor;
  }

  .menu_list {
    &-show {
      overflow: hidden;
      animation: menu_list_animation_show $main-menu_list-animation-delay forwards;
    }

    &-hidden {
      overflow: hidden;
      animation: menu_list_animation_hidden $main-menu_list-animation-delay forwards;
    }

    &-block {
      position: absolute;
      top: 0;
      right: 0;

      border: $app-border;

      @include setWidthHeight($main-menu_list-block-width, $main-menu_list-block-height);
      @include setMinWidthHeight($main-menu_list-block-min-width, $main-menu_list-block-height);

      @include flexColumnNowrap();
      @include flexStart();
    }

    &-header {
      @include button($main-menu_list-header-width, $main-menu_list-header-height);
      @include flexRowNowrap();
      justify-content: space-between;

      padding: $main-menu_list-header-padding;
      border-bottom: 1px solid $list-header-divider_color;
      user-select: none;
      cursor: pointer;
      overflow: hidden;
    }

    &-button {
      @include button($main-menu_list-button-width, $main-menu_list-button-height);

      &-icon {
        background: url($main-menu_list-button-icon) no-repeat center;
        background-size: 80%;
      }
    }

    &-container {
      @include setWidthHeight(100%, 100%);

      @include flexColumnNowrap();
      @include flexStart();

      padding-right: $main-menu_list-container-padding-right;
      padding-left: $main-menu_list-container-padding-left;
    }
  }

  @include add_display_none();
}

@keyframes menu_list_animation_show {
  0% {
    display: none;
    width: 0;
  }
  100% {
    display: flex;
    width: $main-menu_list-width;
  }
}

@keyframes menu_list_animation_hidden {
  0% {
    display: flex;
    width: $main-menu_list-width;
  }
  100% {
    width: 0;
    display: none;
  }
}
