@import "author/author";
@import "current_date/current_date";
@import "../../css/mixins";

@mixin footer() {
  .footer {
    @include setWidthHeight($footer-width, $footer-height);
    @include setMinWidthHeight($footer-width, $footer-height);

    @include flexColumnNowrap();
    justify-content: space-between;
    align-items: center;

    border-top: $app-border;

    overflow: hidden;

    @include author();
    @include current_date();
  }
}
