@import "../../../css/mixins";

@mixin task() {
  &-task {
    @include setDimensionsMin($main-task-width, $main-task-height);
    @include flexRowNowrap();
    justify-content: flex-start;

    box-shadow: $lang_item-boxShadow;
    position: relative;
    cursor: pointer;
    user-select: none;

    padding: $task-padding;

    &_hover {
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }

    &-favorite {
      @include setDimensionsMin($task-favorite_width, 100%);

      &_icon {
        background: url($task-favorite_icon) no-repeat center;
        background-size: 80%;
      }
    }

    &_info {
      @include setWidthHeight(100%, 100%);
      @include flexColumnNowrap();
      justify-content: center;
      align-items: flex-start;

      padding: $task-padding;
    }

    .ellipsis {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }

    &_description {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.4);
    }

    &_amount {
      @include flexColumnNowrap();
      @include flexStart();

      font-size: 14px;
    }
  }
}
