@use "../elements/container/language/language";
@use "../elements/container/themes/themes";
@use "../elements/container/navigation/navigation";
@use "../elements/container/logo/logo";
@use "../elements/container/container";
@use "mixins";

*{
  @include mixins.globalNormalize();
  background-color: rgba(125,200,255, 0.3);
  border: 1px solid rgba(200,125,255, 0.5);
}

.app {
  width: 100vw;
  height: 100px;
  @include language.language();
  @include themes.themes();
  @include navigation.navigation();
  @include logo.logo();
  @include container.container();
}
