@import "mixins";
@import "../elements/header/header";
@import "../elements/footer/footer";
@import "../elements/left_sidebar/left_sidebar";

@import "../elements/cars/new_cars/new_cars";
@import "../elements/cars/old_cars/old_cars";
@import "../elements/cars/popular_cars/popular_cars";
@import "../elements/cars/popular_cars/popular_cars_list/popular_cars_list";
@import "../elements/cars/popular_cars/popular_cars_details/popular_cars_details";

@import "../elements/main/about/about";
@import "../elements/main/home/home";
@import "../elements/main/contact/contact";

@import "../elements/main/contentelement/contentelement";

* {
  @include normalizeSpace();
}

body {
  @include setWidthHeight(100vw, 100vh);
  @include flexColumnNowrap();
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("assets/sota.png");
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.2; // Уровень прозрачности
    z-index: -1; // Задний план позади основного контента
  }
}

.app {
  * {
    //@include devBorder();
    //@include devHighlighting();
  }

  @include setWidthHeight(100%, 100%);
  max-width: 1730px;

  @include header();
  @include footer();
  @include left_sidebar();


  @include flexColumnNowrap();
  justify-content: space-between;
  align-items: center;

  @include contentelement();

  &_container {
    @include setWidthHeight(98%, 98%);
    @include flexRowNowrap();

    &_view {
      @include setWidthHeight(100%, 100%);

      @include new_cars();
      @include old_cars();
      @include popular_cars();
      @include popular_cars_list();
      @include popular_cars_details();

      @include home();
      @include about();
      @include contact();

      background: rgba(255, 255, 255, 0.5);
      padding: 10px;
    }

    &_view::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
    }

    &_view::-webkit-scrollbar-thumb {
      background-color: #888 !important;
      border-radius: 10px !important;
    }

    &_view::-webkit-scrollbar-track {
      background: #f1f1f1 !important;
    }
  }
}
