@import "menu/menu";
@import "choice/choice";
@import "account/account";
@import "../../css/mixins";

@mixin header() {
  .header {
    @include setWidthHeight($header-width, $header-height);
    padding: $header-padding;

    @include flexRowNowrap();
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    @include menu();
    @include choice();
    @include account();
  }
}
