@import "mixins";

.app {
  * {
    @include clean();
    //background: rgba(0, 250, 250, 0.1);
    //border: 1px solid rgba(0, 250, 250, 0.5);
  }

  position: relative;

  @include clean();
  @include setWidthHeight(100%, 100%);
  @include flexColumnNowrap();

  .header {
    @include setWidthHeight(100%, 80px);
    font-weight: bold;
    border-top: solid 1px;
    user-select: none;
  }

  .body {
    @include setWidthHeight(100%, 100%);
    @include flexColumnNowrap();
  }

  .footer {
    @include setWidthHeight(100%, 80px);
  }

  .row {
    @include setWidthHeight(100%, 60px);
    @include flexRowNowrap();
    border-left: solid 1px;
    border-bottom: solid 1px;
  }

  .cell {
    @include setWidthHeight(100%, 100%);
    @include flexRowNowrap();
    border-right: solid 1px;
    padding: 5px;
  }

  .input {
    @include setWidthHeight(100%, 100%);
    border: none;
    outline: 0;
  }

  .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .dark {
    background: rgba(0, 0, 0, 0.1);
  }

  .v-center {
    justify-content: center;
  }

  .h-center {
    align-items: center;
  }

  .cursor_pointer {
    cursor: pointer;
  }
}
