@import "../../../css/mixins";

@mixin contentelement() {
  &-element {
    @include flexRowNowrap;
    @include setWidthHeight(100%, fit-content);
    justify-content: space-around;
    align-items: center;

    &-our_photo {
      @include setWidthHeight(200px, 200px);

      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Cukety_%282%29.jpg/275px-Cukety_%282%29.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;

      border-radius: 20px;
    }
  }
}
