@import "../../../css/mixins";
@import "../../../css/imagepath";

@mixin search() {
  .search{
    @include setWidthHeight(fit-content, 80px);
    @include flexRowNowrap();
    align-items: center;

    .search-icon {
      margin-left: 10px;
      @include setWidthHeight(70px, 70px);
      background-image: url($app-header-search);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-show{
      animation: search-field-show 0.5s forwards;
    }

    &-hidden{
      animation: search-field-hidden 0.5s forwards;
    }

    .search-field{
      height: 30px;
      background: transparent;
      border: 0;
      padding: 5px;

      color: #ffffff;
      font-size: 1.2rem;
      text-shadow: 0 0 2px #f84e0f;
    }

    .search-field:hover{
      border-bottom: solid 1px #ffffff;
    }
    cursor: pointer;
  }
}

@keyframes search-field-show {
  0% {
    display: none;
    width: 0;
  }

  100% {
    display: flex;
    width: 9vw;
  }
}
@keyframes search-field-hidden {
  0% {
    display: flex;
    width: 9vw;
  }
  100% {
    display: none;
    width: 0;
  }
}

        