@import "../../../css/mixins";
@import "../../../css/imagepath";

@mixin search() {
  .search{
    @include setWidthHeight(fit-content, 80px);
    @include flexRowNowrap();
    align-items: center;

    .search-icon {
      @include setWidthHeight(70px, 70px);
      background-image: url($app-header-search);
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-show{
      animation: search-field-show 0.5s forwards;
    }

    &-hidden{
      animation: search-field-hidden 0.5s forwards;
    }

    .search-field{
      height: 30px;
      background: #171717;
      text-align: center;
      border-radius: 15px;

      color: #ffffff;
      font-size: 1.2rem;
      text-shadow: 0 0 2px #fff9f7;
    }

    .search-field:hover{
      border-bottom: solid 1px #ffffff;
    }
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .search-icon{
      display: none;
    }
  }
  
  @media (min-width: 1201px) {
    .search-icon{
      display: flex;
    }
  }
}

@keyframes search-field-show {
  0% {
    display: none;
    width: 0;
    border: 1px solid rgba(159, 159, 159, 0);
  }

  100% {
    display: flex;
    width: 200px;
    border: 1px solid #9f9f9f;
  }
}
@keyframes search-field-hidden {
  0% {
    display: flex;
    width: 200px;
    border: 1px solid #9f9f9f;
  }
  100% {
    display: none;
    width: 0;
    border: 1px solid rgba(159, 159, 159, 0);
  }
}

        