<main class="app_main">
    <text-value>name</text-value>
    <button data-click="clickHandler">Show HELLO</button>
    <div data-if="isShowHello">
        <text-value>showedTxt</text-value>
    </div>
    <div data-handle="handleElement">1</div>
    <div data-handle="handleElement">2</div>
    <div data-handle="handleElementExtra">3</div>
    <div data-handle="handleElementExtra">
        <text-value>name</text-value>
    </div>
    <label>
        <input data-keydown="keyDownInput" data-change="changeInput">
    </label>
</main>
