@import "../../../../css/mixins";
@import "../../search/search";
@import "../../nav/nav";

@mixin menucontent() {
  .menu-content{
    @include setWidthHeight(320, fit-content);
    position: absolute;
    top: 110px;
    left: 0;
    background: #171717;
    border-radius: 0 0 7px 7px;

    @include flexColumnNowrap();
    justify-content: space-between;
    align-items: center;

    animation: menu_list_animation_show 0.5s forwards;

    z-index: 3;

    overflow: hidden;
  }

  .menu-content_hidden{
    animation: menu_list_animation_hidden 0.5s forwards;
  }
}

@include search();
@include nav();

@keyframes menu_list_animation_show {
  0%{
    width: 0;
    display: none;
  }

  100%{
    width: 320px;
    display: block;
  }
}

@keyframes menu_list_animation_hidden {
  0%{
    width: 320px;
    display: flex;
  }

  100%{
    width: 0;
    display: none;
  }
}
        