@import "../../../css/mixins";

@mixin current_date() {
  &-current_date {
    @include setWidthHeight($footer-date-width, $footer-date-height);
    @include flexRowNowrap();
    @include flexCenter();

    overflow: hidden;

    span {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .hidden {
    visibility: hidden;
  }
}
