{
  "presets": [
  ],
  "plugins": [
    ["@babel/plugin-transform-class-properties", { "loose": true}],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-object-rest-spread"
  ]
}

