@import "../../../css/mixins";
@import "navelement/navelement";

@mixin nav() {
  .nav{
    @include setWidthHeight(fit-content, 40px);
    @include flexRowNowrap();
    position: absolute;
    top: 39px;
    left: 415px;
    align-items: center;
    justify-content: space-between;

    @include navelement();
  }
}
        