@import "../../../css/mixins";
@import "navelement/navelement";

@mixin nav() {
  .nav{
    align-items: center;
    justify-content: space-between;

    @include navelement();
  }

  @media (max-width: 1200px) {
    .nav{
      position: relative;
      @include setWidthHeight(320px, fit-content);
      @include flexColumnNowrap();
    }
  }

  @media (min-width: 1201px) {
    .nav{
      position: absolute;
      top: 39px;
      left: 415px;
      @include setWidthHeight(fit-content, 40px);
      @include flexRowNowrap();
    }
  }
}
        