@import "../../../css/mixins";

@mixin baner() {
  &-banner {
    @include setWidthHeight($main-banner-width, $main-banner-height);

    @include flexRowNowrap();
    @include flexCenter();

    background: $app-bgColor2;
    border-top: $app-border;
    border-bottom: $app-border;

    overflow: hidden;
  }
}
