@import "../../../css/mixins";
@mixin menu() {
  .menu {
    @include setWidthHeight(70px, 70px);
    @include flexColumnNowrap();

    box-sizing: content-box;

    margin-right: 10px;

    justify-content: space-around;
    align-items: center;

    .line {
      @include setWidthHeight(100%, 7px);
      background: #9f9f9f;
      border-radius: 5px;
    }

    cursor: pointer;
  }

  .content {
    position: absolute;
    top: 110px;
    left: 0;
    overflow: unset;
    box-sizing: unset;
  }
  @media (max-width: 1200px) {
    .menu {
      display: flex;
    }
  }
  @media (min-width: 1201px) {
    .menu{
      display: none;
    }
  }
}
        