@import "../../css/mixins";
@import "mainpage/mainpage";
@import "fish/fish";
@import "meat/meat";
@import "vegetable/vegetable";
@import "mushroom/mushroom";
@import "recipelink/recipelink";
@import "recipepage/recipepage";
@import "../header/menu/menucontent/menucontent";
@mixin main() {
  .main{
    @include recipelink();
    @include mainpage();
    @include fish();
    @include meat();
    @include vegetable();
    @include mushroom();
    @include recipepage();
    @include menucontent();

    @include setWidthHeight(100vw, fit-content);
    max-width: 1400px;

    &-recipe-page{
      &-banner{
        @include setWidthHeight(100%, 400px);

        &-img{
          position: relative;
          @include setWidthHeight(100%, 100%);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          z-index: 0;

          &-wrapper{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: linear-gradient(0rad, rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.5));
            z-index: 1;
          }
        }

        &-text{
          margin-left: 50px;
          margin-top: 75px;
          position: relative;

          color: white;
          font-size: 3rem;
          font-weight: 700;
          text-transform: uppercase;
          z-index: 2;
        }
      }

      &-content{
        @include setWidthHeight(100%, fit-content);
        display: flex;
        flex-direction: row;
        justify-content: center;

        &-recipe_box{
          @include setWidthHeight(100%, fit-content);
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          justify-content: space-around;
        }
      }
    }
  }
}
        