$header-menu-icon: "assets/images/menu.png";
$header-menu-arrow: "assets/images/arrow_back.png";
$header-account-icon: "assets/images/account.png";
$main-menu_list-button-icon: "assets/images/arrow_back.png";
$task-favorite_icon: "assets/images/favorite32.png";
