// dev variables
$dev-highlight-color: rgba(0, 250, 250, 0.2);
$dev-border-color: rgba(0, 250, 250, 0.5);

// global rules
@font-face {
  font-family: Tahoma;
  src: url("assets/fonts/tahoma.ttf") format("truetype");
}

$global-width: 100vw;
$global-height: 100vh;
$global-font-family: Tahoma, serif;
$global-font-size: 24px;

// app area
$app-width: 800px;
$app-height: 100%;
$app-min-width: 800px;
$app-min-height: 100%;

// app header
$header-width: 100%;
$header-height: 100px;
$header-delta: 5px;
$header-padding: $header-delta*2;

// header menu
$header-menu-width: $header-height - $header-padding - $header-delta;
$header-menu-height: $header-menu-width;
$header-menu-icon: "assets/images/menu.png";

// header choice
$header-choice-width: 100%;
$header-choice-height: $header-menu-width;
$header-choice-margin: $header-delta*2;

// header account
$header-account-width: $header-menu-width;
$header-account-height: $header-menu-width;
$header-account-icon: "assets/images/account.png";

// app main
$main-width: 100%;
$main-height: 100%;

// app footer
$footer-width: 100%;
$footer-height: 100px;
$footer-delta: 5px;
$footer-padding: $footer-delta*2;

// footer author
$footer-author-width: 100%;
$footer-author-height: 30px;

// footer date
$footer-date-width: 100%;
$footer-date-height: 100%;
