@font-face {
  font-family: Tahoma;
  src: url("assets/fonts/tahoma.ttf") format("truetype");
}
@keyframes button-animation {}
@keyframes menu_list_animation_show {
  0% {
    display: none;
    width: 0;
  }
  100% {
    display: flex;
    width: 360px;
  }
}
@keyframes menu_list_animation_hidden {
  0% {
    display: flex;
    width: 360px;
  }
  100% {
    width: 0;
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}

body {
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Tahoma, serif;
  font-size: 24px;
}
.app * {
  background: rgba(0, 250, 250, 0.2);
}
.app * {
  border: 1px solid rgba(0, 250, 250, 0.5);
}
.app .header {
  width: 100%;
  height: 100px;
  min-width: 100%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.app .header-menu {
  width: 85px;
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-width: 85px;
  min-height: 85px;
  margin-right: 5px;
  margin-left: 5px;
}
.app .header-menu:hover {
  animation: button-animation 1s;
}
.app .header-menu_icon {
  background: url("assets/images/menu.png") no-repeat center;
  background-size: 50%;
}
.app .header-menu-arrow_back {
  background: url("assets/images/arrow_back.png") no-repeat center;
  background-size: 30%;
}
.app .header-choice {
  width: 100%;
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 5px;
}
.app .header-choice:hover {
  animation: button-animation 1s;
}
.app .header-account {
  width: 85px;
  height: 85px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-width: 85px;
  min-height: 85px;
  margin-right: 5px;
  margin-left: 5px;
}
.app .header-account:hover {
  animation: button-animation 1s;
}
.app .header-account_icon {
  background: url("assets/images/account.png") no-repeat;
  background-size: cover;
}
.app .main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.app .main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.app .main-banner {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app .main-menu_list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background: #69b2e4;
}
.app .main .menu_list-show {
  overflow: hidden;
  animation: menu_list_animation_show 0.5s forwards;
}
.app .main .menu_list-hidden {
  overflow: hidden;
  animation: menu_list_animation_hidden 0.5s forwards;
}
.app .main .menu_list-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  min-width: 360px;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.app .main .menu_list-header {
  width: 100%;
  height: 40px;
  padding: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.app .main .menu_list-button {
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.app .main .menu_list-button:hover {
  animation: button-animation 1s;
}
.app .main .menu_list-button-icon {
  background: url("assets/images/arrow_back.png") no-repeat center;
  background-size: 80%;
}
.app .main .display_none {
  display: none;
}
.app .main-menu_item {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
  overflow: visible;
}
.app .main-menu_item:hover {
  animation: button-animation 1s;
}
.app .main-menu_item * {
  overflow: visible;
}
.app .main-lang_view {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.app .main-lang_view_box {
  position: absolute;
  top: 0;
  cursor: default;
  width: 50px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: fit-content;
  background: #c1e3ef;
  z-index: 10;
}
.app .main .lang_item {
  width: 40px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  background: #69b2e4;
}
.app .main .lang_item:hover {
  animation: button-animation 1s;
}
.app .main-tasklist {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.app .main-task {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app .footer {
  width: 100%;
  height: 100px;
  min-width: 100%;
  min-height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.app .footer-author {
  width: 100%;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 30px;
  overflow: hidden;
}
.app .footer-current_date {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app .footer-current_date span {
  margin-left: 10px;
  font-weight: bold;
}
.app .footer .hidden {
  visibility: hidden;
}
.app-wrapper {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
