<main class="app_main">
    <txt-val>name</txt-val>
    <br>
    <txt-val>appInfo</txt-val>
    <br>
    <txt-val>someText</txt-val>
    <br>
    Sergey is my son, he is
    <txt-val>ag</txt-val>
    years old.
    <br>
    <br>
    Receipts:
    <br>
    <button data-click="nestReceipt">NEXT Receipt</button>
    <br>
    <br>
    <pre>
        <txt-val>currentReceipt</txt-val>
    </pre>
    <div>
        <app-test></app-test>
        <app-test></app-test>
    </div>
    <txt-val>test</txt-val>
    <txt-val>test</txt-val>
    <app-test data-if="isTest" data-cls="red_css"></app-test>
    <app-test data-for="testArr" data-if="isFor"></app-test>
</main>
