@import "../../css/mixins";

@mixin header() {
  .header {
    @include setWidthHeight(100%, 80px);
    @include flexRowNowrap();

    background: rgba(255, 255, 255, 0.3);
    border-top: none;
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    justify-content: space-around;
    align-items: center;

    &-button {
      @include button(400px, 40px);

      background: rgba(255, 255, 255, 0.8);
      border-top: none;
      border-left: none;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}
