@mixin flexColumnNowrap() {
  display: flex;
  flex-flow: column nowrap;
}

@mixin flexRowNowrap() {
  display: flex;
  flex-flow: row nowrap;
}

@mixin setWidthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setMaxWidthHeight($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin setMinWidthHeight($width, $height) {
  min-width: $width;
  min-height: $height;
}
