@import "../../../css/mixins";
@mixin recipelink() {
  .recipelink-card{
    position: relative;
    @include setWidthHeight(320px, 320px);
    background: #5e5e5e;
    margin: 10px;

    font-family: "Rubik", "Verdana", Tahoma, serif;
    color: #171717;

    &-title{
      position: relative;
      top: 15px;
      left: 15px;
      @include setWidthHeight(fit-content, fit-content);
      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: 1.5rem;
      font-weight: bolder;
      
      color: white;
      text-shadow: 0 0 10px black;

      z-index: 2;
    }

    &-image{
      position: absolute;
      top: 0;
      left: 0;
      @include setWidthHeight(100%, 100%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      z-index: 0;
    }

    &-img_wrapper{
      @include setWidthHeight(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;

      background-color: rgba(0, 0, 0, 0.76);
      z-index: 1;
    }
  }
}
        