@import "../../css/mixins";
@import "baner/baner";
@import "menu_list/menu_list";
@import "menu_list/menu_item/menu_item";
@import "task_list/task_list";
@import "task/task";

@mixin main() {
  .main {
    position: relative;
    @include centered_rectangle($main-width, $main-height);

    flex-grow: 1;

    &-wrapper {
      @include centered_rectangle($main-wrapper-width, $main-wrapper-height);

      flex-grow: 1;
    }

    @include baner();
    @include menu_list();
    @include menu_item();
    @include task_list();
    @include task();
  }
}
