@import "../../../css/mixins";

@mixin choice() {
  &-choice {
    @include button($header-choice-width, $header-choice-height);

    margin-right: $header-choice-margin;
    margin-left: $header-choice-margin;

    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #802b51;
  }
}
