@import "../../../css/mixins";

@mixin popular_cars() {
  .popular_cars-button {
    @include button(200px, 40px);

    font-size: 14px;
    background: rgba(255, 255, 255, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 2px;
  }
}
