@import "../../css/mixins";
@mixin footer() {
  .footer{
    @include flexRowNowrap();
    justify-content: space-between;
    padding: 15px;

    width: 100%;
    min-height: 70px;
    max-height: fit-content;
    background-color: #242424;

    color: #e0e0e0;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .contact-data{
    text-align: right;
  }
}
        