// header paths
$app-header-logo: "assets/images/header/logo.jpg";
$app-header-favorite: "assets/images/header/book.png";
$app-header-search: "assets/images/header/search.png";

// banners images
$app-main-main_page-banner: "assets/images/main/banner.jpg";
$app-main-fish_page-banner: "assets/images/main/fish.jpg";
$app-main-meat_page-banner: "assets/images/main/meat.jpg";
$app-main-vegetable_page-banner: "assets/images/main/vegetable.jpg";
$app-main-mushroom_page-banner: "assets/images/main/mushroom.jpg";

$app-main-main_page-content-about_me-photo: "assets/images/main/Papa.jpg";