@keyframes search-field-show {
  0% {
    display: none;
    width: 0;
    border: 1px solid rgba(159, 159, 159, 0);
  }
  100% {
    display: flex;
    width: 200px;
    border: 1px solid #9f9f9f;
  }
}
@keyframes search-field-hidden {
  0% {
    display: flex;
    width: 200px;
    border: 1px solid #9f9f9f;
  }
  100% {
    display: none;
    width: 0;
    border: 1px solid rgba(159, 159, 159, 0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}

body {
  overflow: hidden;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  max-width: fit-content;
  background: #4A4A4A;
  justify-content: space-between;
}
.app .header {
  width: 100%;
  height: fit-content;
}
.app .header .header-top-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 110px;
  justify-content: flex-end;
  position: relative;
  background-color: #171717;
  align-items: center;
}
.app .header .header-top-container .logotype {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 15px;
  left: 15px;
  width: fit-content;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 2px #f84e0f;
  text-transform: uppercase;
  cursor: pointer;
}
.app .header .header-top-container .logotype .logo {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  background-image: url("assets/images/header/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
}
.app .header .header-top-container .bookmark {
  width: 70px;
  height: 70px;
  background-image: url("assets/images/header/book.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.app .header .header-top-container .nav {
  width: fit-content;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 39px;
  left: 415px;
  align-items: center;
  justify-content: space-between;
}
.app .header .header-top-container .nav .navElement {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(0, #ff2f00 33%, #ff5b09 66%, #f1bd54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 7.5px;
  border-bottom: 1px solid transparent;
  transition-duration: 200ms;
  cursor: pointer;
}
.app .header .header-top-container .nav .navElement:hover {
  border-color: #ff2f00;
}
@media (max-width: 1200px) {
  .app .header .header-top-container .nav {
    display: none;
  }
}
.app .header .header-top-container .search {
  width: fit-content;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}
.app .header .header-top-container .search .search-icon {
  width: 70px;
  height: 70px;
  background-image: url("assets/images/header/search.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.app .header .header-top-container .search-show {
  animation: search-field-show 0.5s forwards;
}
.app .header .header-top-container .search-hidden {
  animation: search-field-hidden 0.5s forwards;
}
.app .header .header-top-container .search .search-field {
  height: 30px;
  background: #171717;
  text-align: center;
  border-radius: 15px;
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 0 0 2px #fff9f7;
}
.app .header .header-top-container .search .search-field:hover {
  border-bottom: solid 1px #ffffff;
}
@media (max-width: 1200px) {
  .app .header .header-top-container .search-icon {
    display: none;
  }
}
@media (min-width: 1201px) {
  .app .header .header-top-container .search-icon {
    display: flex;
  }
}
.app .header .header-top-container .menu {
  width: 70px;
  height: 70px;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 10px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.app .header .header-top-container .menu .line {
  width: 100%;
  height: 7px;
  background: #9f9f9f;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .app .header .header-top-container .menu {
    display: flex;
  }
}
@media (min-width: 1201px) {
  .app .header .header-top-container .menu {
    display: none;
  }
}
.app .header .header-top-container .menu-content {
  width: 320;
  height: fit-content;
}
.app .header .header-top-container .menu-content_hidden {
  display: none;
}
@media (max-width: 1200px) {
  .app .header .bookmark {
    display: none;
  }
}
@media (min-width: 1201px) {
  .app .header .bookmark {
    margin-left: 10px;
  }
}
.app .footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  min-height: 70px;
  max-height: fit-content;
  background-color: #242424;
  color: #e0e0e0;
  font-size: 1.5rem;
  font-weight: bolder;
}
.app .contact-data {
  text-align: right;
}
.app .main {
  width: 100vw;
  height: fit-content;
  max-width: 1400px;
}
.app .main .recipelink-card {
  width: 470px;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  background: #5e5e5e;
  margin: 10px;
  font-family: "Rubik", "Verdana", Tahoma, serif;
  color: #171717;
}
.app .main .recipelink-card-title {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.app .main .recipelink-card-content {
  width: 100%;
  height: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.3rem;
}
.app .main .recipelink-card-content-image {
  width: 200px;
  height: 200px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.app .main .banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.app .main .banner .banner-img {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url("assets/images/main/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  padding-left: 50px;
  padding-top: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px #171717;
}
.app .main .banner .banner-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0rad, rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.5));
  z-index: 1;
}
.app .main .banner .banner-img .banner-text {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}
.app .main .banner .banner-img .banner-subtext {
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
}
.app .main .section {
  width: 100%;
  height: 360px;
  background: #4d4d4d;
  margin-top: 10px;
  padding: 10px;
  color: white;
}
.app .main .section-title {
  font-size: 2rem;
  margin-left: 20px;
  text-transform: uppercase;
}
.app .main .section-slider {
  width: 100%;
  height: 270px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 20px;
}
.app .main .about-me {
  width: 100%;
  height: fit-content;
}
.app .main .about-me-content {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}
.app .main .about-me-content-photo-wrapper {
  width: 400px;
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.app .main .about-me-content-photo-wrapper-photo {
  width: 100%;
  height: 100%;
  background-image: url("assets/images/main/Papa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app .main .about-me-content-text {
  max-width: 60%;
  max-height: 100%;
  margin: 20px;
  font-size: 1.2rem;
}
.app .main .fish-img {
  background-image: url("assets/images/main/fish.jpg");
}
.app .main .meat-img {
  background-image: url("assets/images/main/meat.jpg");
}
.app .main .vegetable-img {
  background-image: url("assets/images/main/vegetable.jpg");
}
.app .main .mushroom-img {
  background-image: url("assets/images/main/mushroom.jpg");
}
.app .main .recipe-page {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Rubik", "Verdana", Tahoma, serif;
  color: white;
}
.app .main .recipe-page-header {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}
.app .main .recipe-page-header-name {
  width: 30%;
  height: 400px;
  background: #3d3d3d;
  padding: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.app .main .recipe-page-header-image {
  width: 70%;
  height: 400px;
  background-size: cover;
  background-position: center center;
}
.app .main .recipe-page-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  font-size: 1.4rem;
}
.app .main .recipe-page-content-ingredients {
  margin: 10px;
}
.app .main .recipe-page-content-steps {
  margin: 10px;
}
.app .main-recipe-page-banner {
  width: 100%;
  height: 400px;
}
.app .main-recipe-page-banner-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}
.app .main-recipe-page-banner-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0rad, rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.5));
  z-index: 1;
}
.app .main-recipe-page-banner-text {
  margin-left: 50px;
  margin-top: 75px;
  position: relative;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}
.app .main-recipe-page-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app .main-recipe-page-content-recipe_box {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

* {
  font-family: "Rubik", "Verdana", Tahoma, serif;
}

/*# sourceMappingURL=style.css.map */
