@import "../../../../css/mixins";
@import "settings_lang/settings_lang";

@mixin menu_item() {
  &-menu_item {
    @include button($main-menu_item-width, $main-menu_item-height);
    align-items: flex-start;
    justify-content: center;

    padding-left: $main-menu_item-padding-left;

    margin-top: $main-menu_item-margin-top;

    * {
      overflow: visible;
    }

    overflow: visible;
  }

  &-lang_view {
    position: absolute;
    right: $main-lang_view-right;

    @include centered_rectangle($main-lang_view-width, $main-lang_view-height);

    &_box {
      position: absolute;
      top: $lang_box-top;
      cursor: default;

      @include centered_rectangle($lang_box-width, $lang_box-height);
      @include setMinWidthHeight($lang_box-width, $lang_box-height);

      background: $lang_box-bgColor;

      z-index: $lang_box-zIndex;
    }
  }

  @include settings_lang();
}
